<html>
    <meta charset="utf8">
    <head>
        <title>{$ok}</title>
    <link rel="stylesheet" href="../css/Fish.css" type="text/css" data-for="result">
    <script type="text/javascript" src="../js/lod.js" async></script>
    </head>
    <body onclick="cl_()">
        <!--浮层-->
        <div id="f" class="f_1">
            <duv><img src="{$x}" onclick="cl_()" /></duv>
            <div>{$fish}</div>
            <div><img src="{$im_p}"/></div>
            <div><span>{$wel}</span></div>
        </div>

        <div id="main_w">
            <div class="titl">{$hello}</div>
            <div>
                <div>
                    <div class="wk"><img src="{$photo}" width="100px" height="130px" /></div>
                    <div class="wk"><span>{$xh_tl}{$xh}</span></div>
                    <div class="wk"><span>{$xm_tl}{$xm}</span></div>
                    <div class="wk"><span>{$xb_tl}{$xb}</span></div>
                    <div class="wk"><span>{$zy_tl}{$zy}</span></div>
                    <div class="wk"><span>{$bj_tl}{$bj}</span></div>
                    <div class="wk"><span>{$QQ_tl}{$QQ}</span></div>
                </div>
            </div>
            <div class="back"><a href="../index.php">返回</a></div>
        </div>
    </body>

</html>